body{
    background-image: url(photo/bgimg.jpg);
    font-family: "Noto Sans TC", sans-serif;
    color: #333;
    /* font-size:  clamp(32px, 4.6875vw, 82px); */
}
.head nav {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-log img{
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 100;
    width: 100px;
}
.head nav  ul li a{
    font-size: 18px;
    font-optical-sizing: auto; /* 控制字體在不同設備上呈現效果 */
    font-weight: 700; /* Font-weight屬性可以設定字體的粗細變化 */
    font-style: normal;
    overflow: hidden;
    position: relative;
}
.head nav ul li a span {
    display: block;
    padding: 10px;
    transition: .4s;
}
.head nav ul li a span::after{ 
    content: attr(data-txt);
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    color: #3a3eca;
}
.head nav ul li a:hover span{
    translate: 0 -100%;/* 重新定義座標位址 */
}

.head nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 100px;
}
.head nav li{
    display: flex;
    
}
.head nav ul li:nth-child(3)::before{
    content: '';
    margin-left: 100px;
}
.head-nav{
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}
.front-img {
    position: relative;
}
.front-img img {
    width: 100%;
}
/* 輪播廣告 */
.slideshow-container {
    width: 100%;
    overflow: hidden;
}
.slideshow {
    display: flex;
    animation: slideRight 10s linear infinite;
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 50px)); 
    }
}
.slideshow img {
    width: 100%;
    margin-right: 50px; 
}

.slideshow .slide {
    position: relative; 
    width: 500%;
    animation: slideshow 15s infinite;
}

a{
    color: #333;
    letter-spacing: 2px;
    text-decoration: none;
}
p {
    line-height: 24px;
    letter-spacing: 2px;/* 文字間距 */
    
}

.menu-a {
    margin-bottom: 150px;
}
.text {
    font-size: 64px;
    color: #fff;
    position: absolute; 
    top: 15%;
    left: 60%; 
    width: 30%;
    line-height: 1.5em;
    font-family: "Condiment", cursive;
}
/* 漢堡 */

button {
    width: 40px;
    height: 40px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
button span {
    width: 80%;
    height: 2px;
    background-color: #fff;
}
button {
display: none;
}
@media screen and (max-width: 767px) {
    button {
        display: flex;
        cursor: pointer;
    }
    .nav-log img{
        position: unset;
        width: 60px;
    }
    .head-nav nav{
        justify-content: start;
        padding: 0;
    }
    .head-nav nav ul{
        width: 100%;
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .head-nav nav ul li{
        background-color: #F6F6F6;
        border: 1px solid #333;
        justify-content: center;
        padding: 10px 0;
        
    }
    .head nav ul li a span::after{
        display: none;
    }
    .head nav ul li a:hover span{
        translate: 0;
        }
    .head nav ul li:nth-child(3)::before{
        content: '';
        margin-left: 0;
        }
    .head nav ul li a {
        width: 100%;
        font-size: 16px;
    }
    .head nav ul li:hover{
        background-color:#EF8B32 ;
    }
    #menu{
            display: none;
            position: absolute;
            top: 61px;
            right: 0px;
        }
    #menu.show {
            display: block;
            z-index: 10;
        }
    .text{
        font-size: 30px;
    }
    .menu-a{
        margin: 0;
    }
}

/* 絲帶 */
.ribbon {
    position: relative;
    position: fixed;
    top:60%;
    right: 0;
    width: 100px;
    padding: 10px 0px 10px 10px;
    background: #8E5421;
    font-size: 12px;
    z-index: 20;
}
.content-rib , .content{
    display: flex;
    align-items: center;
}
.content-rib a:hover , .content a:hover{
    color: #0b0b0b;
}
.content a , .content-rib a{
    color: #fff;
    margin-right: 5px;
    display: contents;
}
.content:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbon img {
    width: 12px;
    margin: 5px;
}
.ribbons {
    position: relative;
    position: fixed;
    top:69%;
    right: 0;
    width: 100px;
    padding: 8px 0px 8px 10px; 
    background: #EF8B32;
    font-size: 12px;
    z-index: 20;
}
.content-rib:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content-rib:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbons img {
    width: 12px;
    margin: 5px;
}
/* 關於我們 */
.about-img{
    overflow: hidden;
    width:100%;
}
.about-img img {
    width: 100%;
    
}
.about{
    display: flex;
    align-items: center;
    margin: 100px 0;
}
.about-text{
    text-align: left;
    width: 47.31861%;
    position: relative;
    left:110px;
    top: 85px;
}

@media screen and (max-width: 767px) {
    
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    .about-img{
        overflow: hidden;
        width:100%;
    }
    .about-text{
        text-align: left;
        width: 100%;
        position: unset;
        margin-top: 20px;
        order: 2;
    }
    .about-text h2{
        font-size: 24px;
        padding-bottom: 20px;
        text-align: center;
    }
    .lines{
        font-size: 14px;
        margin-bottom: 20px;
        padding-right: 10px;
    }
    
}

h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 0 0 40px;
    letter-spacing: 10px;
    
}
@media screen and (max-width: 767px) {
    h2{
        font-size: 24px;
    }
}
.lines {
    line-height: 24px;
    letter-spacing: 2px;/* 文字間距 */
}
/* 會員優惠 */
.member {
    display: flex;
    text-align: left;
    margin:0 100px;
}
.member .member-text img {
width: 14px;
height: 14px;
}
.member-img img{
    width: 500px;
}
.member-text{
    margin-left: 60px ;
}
.member-li li{
    vertical-align:middle
}
.member-li span{
    letter-spacing: 5px;
}
.member-li img{
    padding-right: 5px;
    margin-top:10px ;
    max-width: 100%;
}
@media screen and (max-width: 767px) {
    .member {
        display: block;
        text-align: left;
        margin:0 10px;
    }
    .member-img img{
        width: 100%;
        height: 200px;
        object-position:0 55%;
        margin-bottom: 20px;
    }
    .member-text{
        margin: 0 10px ;
    }
    .member-text h2{
        text-align: center;
        padding: 0 0 20px;
    }
    .member-text p + span{
        font-size: 14px;
    }
    
}
/* 用餐環境 */
.meal {
    display: flex;
    margin: 100px;
    margin-bottom: 50px;
}
.meal-text{
    width: 500px;
    margin-right: 60px;
    
}
.meal-img img{
    width: 500px;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .meal {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
    }
    .meal-text{
        width: 100%;
        margin-right: 100px;
        order: 2;
    }
    .meal-text h2{
        text-align: center;
        padding: 0 0 20px;
    }
    .meal-text p{
        font-size: 14px;
    }
    .meal-img img{
        width: 100%;
        margin-bottom: 20px;
    }
}
/* 頁尾 */
.footer {
    display: flex;
    margin: 20px 100px;
    text-align: center;
}
.footer h3{
    font-size: 24px;
    padding: 0;
}
.footer i{
    font-size: 30px;
    margin-bottom: 15px;
}
.cafe {
    order: 2;
}
.time{
    order: 5;
}
.cafe i , .menu-link i , .reserve i {
    padding-top: 60px;
}
.footer > div {
    height: 40vh;
    padding: 40px;
    border-right: 1px solid black;
    min-height: 200px;
}
.opentime h2{
    padding-bottom: 0px;
}
.time img {
    width: 80px;
    padding-top: 30px;
}
.footer .time  {
    border: none;
}
.time-nb {
    font-family: "Red Hat Display";
    line-height: 1.2;
    font-weight: 500;
    font-size: 24px;
}
.opentime p{
    white-space: pre-line; /*合併空白序列，但是保留换行。*/
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        text-align: center;
        position: relative;
    }
    .footer > div {
        height: 60px;
        padding: 0px;
        border-right: 0;
        border-bottom: 1px solid black;
        min-height: 50px;
    }
    .footer .opentime{
        height: 120px;
        min-height: 100px;
        border-bottom: 1px solid black;
    }
    .footer .time{
        height: 110px;
        min-height: 100px;
    }
    .opentime{
        width: 100%;
        display: block;
        letter-spacing: 2px;
        
    }
    .opentime i{
        position: absolute;
        top: 0;
        left: 30px;
    }
    .opentime-text{
        margin-left: 90px;
        text-align: left;
        
    }
    .opentime h2{
        padding: 0;
    }
    .opentime p{
        margin: 10px 0;
        font-size: 14px;
        white-space:unset; 
    }
    .menu-link a , .reserve a {
        padding: 10px 33px;
        display: flex;
        justify-content: start;
    }
    .cafe a {
        padding: 10px 30px;
        display: flex;
        justify-content: start;
    }
    .cafe i {
        padding-top: 0px;
        padding-right: 10px;
    }
    .menu-link{
        border-top: 1px solid black;
    }
    .menu-link i , .reserve i {
        padding-top: 0px;
        padding-right: 20px;
    }
    .cafe {
        order: unset;
    }
    .time{
        font-size: 12px;
        font-weight: 700;
        width: 100%;
        margin-top: 20px;
        order: unset;
        text-align: left;
    }
    .time img + p{
        padding-top: 10px;
    }
    .time img {
        padding-top: 0px;
        padding-left: 100px;
        padding-right: 10px;
        float: left;
    }
    .time-nb{
        font-size: 40px;
        font-weight: 500;
        font-family: "Red Hat Display";
    }
    .menu-link :hover , .reserve :hover , .cafe :hover{
        background-color: #E4AD7C;
    }
}


.footer-logo {
    width: 100%;
    background-color: #1D2126;
    display: flex;
    position: relative;
}
.logo-map ,.logo-phone{
    display: flex;
    align-items: center;
}
.footer-logo .address p{
    color: #fff;
    font-size: 12px; 
}
.address{
    margin-top: 40px;
}
.address img{
    width: 15px;
    margin-right: 10px;
    object-fit: contain;
}
.footer-logo >img {
    width: 95px;
    margin: 30px 120px 30px 200px;
}
.account-icon{
    position: absolute;
    right: 200px;
    bottom: 20px;
}
.account-icon img{
    width: 15px;
    padding: 5px;
}
@media screen and (max-width: 767px) {
    .footer-logo{
        display: block;
    }
    .footer-logo >img {
        width: 50px;
        margin: 10px 10px ;
        object-fit: contain;
    }
    .address{
        margin-left: 10px;
        margin-top: 0px;
        letter-spacing: 1.5px;
    }
    .account-icon{
        right: 0px;
        bottom: 20px;
    }
    .logo-phone , .logo-map{
        padding-bottom: 5px;
    }
    .footer-logo .address p{
        letter-spacing: 1px;
    }
}