body{
    background-image: url(photo/bgimg.jpg);
    font-family: "Noto Sans TC", sans-serif;
    color: #333;
    /* font-size:  clamp(32px, 4.6875vw, 82px); */
}
.head nav {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-log img{
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 100;
    width: 100px;
}
.head nav  ul li a{
    font-size: 18px;
    font-optical-sizing: auto; /* 控制字體在不同設備上呈現效果 */
    font-weight: 700; /* Font-weight屬性可以設定字體的粗細變化 */
    font-style: normal;
    overflow: hidden;
    position: relative;
}
.head nav ul li a span {
    display: block;
    padding: 10px;
    transition: .4s;
}
.head nav ul li a span::after{ 
    content: attr(data-txt);
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    color: #3a3eca;
}
.head nav ul li a:hover span{
    translate: 0 -100%;/* 重新定義座標位址 */
}

.head nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 100px;
}
.head nav li{
    display: flex;
    
}
.head nav ul li:nth-child(3)::before{
    content: '';
    margin-left: 100px;
}
.head-nav{
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}
/* 漢堡 */

button {
    width: 40px;
    height: 40px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
button span {
    width: 80%;
    height: 2px;
    background-color: #fff;
}
button {
display: none;
}
@media screen and (max-width: 767px) {
    button {
        display: flex;
        cursor: pointer;
    }
    .nav-log img{
        position: unset;
        width: 60px;
    }
    .head-nav nav{
        justify-content: start;
        padding: 0;
    }
    .head-nav nav ul{
        width: 100%;
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .head-nav nav ul li{
        background-color: #F6F6F6;
        border: 1px solid #333;
        justify-content: center;
        padding: 10px 0;
        
    }
    .head nav ul li a span::after{
        display: none;
    }
    .head nav ul li a:hover span{
        translate: 0;
        }
    .head nav ul li:nth-child(3)::before{
        content: '';
        margin-left: 0;
        }
    .head nav ul li a {
        width: 100%;
        font-size: 16px;
    }
    .head nav ul li:hover , .head nav ul li:active{
        background-color:#EF8B32 ;
    }
    #menu{
            display: none;
            position: absolute;
            top: 61px;
            right: 0px;
        }
    #menu.show {
            display: block;
            z-index: 10;
        }
    .text{
        font-size: 30px;
    }
    .menu-a{
        margin: 0;
    }
}
/* 麵包屑 */
.breadcrumb{
    width: 1200px;
    margin: auto;
}
.breadcrumb ul{
    display: flex;
    margin: 15px 0px 15px 180px ;
}
.breadcrumb li{
    width: auto;
    border: none;
}
.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    margin: 0px 8px;
    font-weight: 600;
}
.front-img {
    width:100%;
    max-width: 100%;
    position: relative;
}
img {
    width: 100%;
}
a{
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}
p {
    line-height: 24px;
    letter-spacing: 2px;/* 文字間距 */
    
}
/* 絲帶 */
.ribbon {
    position: relative;
    position: fixed;
    top:60%;
    right: 0;
    width: 100px;
    padding: 10px 0px 10px 10px;
    background: #8E5421;
    font-size: 12px;
    z-index: 20;
}
.content-rib , .content{
    display: flex;
    align-items: center;
}
.content-rib a:hover , .content a:hover{
    color: #0b0b0b;
}
.content a , .content-rib a{
    color: #fff;
    margin-right: 5px;
    display: contents;
}
.content:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbon img {
    width: 12px;
    margin: 5px;
}
.ribbons {
    position: relative;
    position: fixed;
    top:69%;
    right: 0;
    width: 100px;
    padding: 8px 0px 8px 10px; 
    background: #EF8B32;
    font-size: 12px;
    z-index: 20;
}
.content-rib:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content-rib:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbons img {
    width: 12px;
    margin: 5px;
}
.news-img img{
    height: 500px;
    object-fit: cover;
}
.news-img h1{
    font-size: 64px;
    color: #fff;
    position: absolute; 
    top: 50%;
    left: 35%; 
    width: 30%;
    letter-spacing: 8px;
    font-family: "Condiment", sans-serif;
}
/* 菜單 */
.coffee-bg  ,.cake-bg {
    display: flex;
    width: 100%;
    padding: 60px 0px;
    background-image: url(photo/rectangle.png);
}
.coffee-bg  ,.cake-bg , .sandwich{
    width: 100%;
    display: flex;
}
.sandwich{
    padding: 60px 0px;
}
.flexslider{
    border: 4px solid #fff0;
    margin: 0;
    padding: 60px 0px;
    background:#fff0;
    position: relative;
}
.flex-control-nav{
    position: absolute;
    bottom: 30px;
}
.menu-txt{
line-height: 1.5;
}
.menu-txt h3 {
    font-size: 32px;
    font-weight: bold;
}
.menu-txt h4 {
    font-size: 24px;
}

.remark{
    font-size: 12px;
}
.menu-txt   span {
    padding-left: 10px;
}
.menu-txt h4 :first-child {
    padding-left: 120px;
}
.menu-txt .red :first-child ,.menu-txt  .green :first-child{
    padding-left: 142px;
}
.menu-txt {
    margin-top: 45px;
    margin-left: 100px;
}
.menu-txt .latte :first-child {
    padding-left: 150px;
}
.menu-txt .toast :first-child{
    padding-left: 130px;
}
.menu-txt .salad :first-child ,.menu-txt .garden :first-child{
    padding-left: 135px;
}
.menu-txt .pie :first-child {
    padding-left: 71px;
}
.menu-txt .cake :first-child {
    padding-left: 96px;
}
/* 頁尾 */
.footer-logo {
    width: 100%;
    background-color: #1D2126;
    display: flex;
    position: relative;
}
.top-btn{
    position: absolute;
    top: 5%;
    left: 50%;
    height: 20px;
}
.footer-logo i{
    padding-left: 35px;
    font-size: 20px;
    color: #fff;
}
.footer-logo a{
    font-size: 12px;
    color: #fff;
    top: 0;
    left: 50%;
}
.footer-logo a:active{
    opacity: 0.5;
}
.logo-map ,.logo-phone{
    display: flex;
    align-items: center;
}
.footer-logo .address p{
    color: #fff;
    font-size: 12px; 
}
.address{
    margin-top: 40px;
}
.address img{
    width: 15px;
    margin-right: 10px;
    object-fit: contain;
}
.footer-logo >img {
    width: 95px;
    margin: 30px 120px 30px 200px;
}
.account-icon{
    position: absolute;
    right: 200px;
    bottom: 20px;
}
.account-icon img{
    width: 15px;
    padding: 5px;
}
@media screen and (max-width: 767px) {
    .footer-logo{
        display: block;
    }
    .footer-logo >img {
        width: 50px;
        margin: 10px 10px ;
        object-fit: contain;
    }
    .address{
        margin-left: 10px;
        margin-top: 0px;
        letter-spacing: 1.5px;
    }
    .account-icon{
        right: 0px;
        bottom: 20px;
    }
    .logo-phone , .logo-map{
        padding-bottom: 5px;
    }
    .footer-logo .address p{
        letter-spacing: 1px;
    }
}