body{
    background-image: url(photo/bgimg.jpg);
    
}
body p {
    font-family:"Noto Sans TC", sans-serif;
    color: #333;
}
.head nav {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-log img{
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 100;
    width: 100px;
}
.head nav  ul li a{
    font-size: 18px;
    font-optical-sizing: auto; /* 控制字體在不同設備上呈現效果 */
    font-weight: 700; /* Font-weight屬性可以設定字體的粗細變化 */
    font-style: normal;
    overflow: hidden;
    position: relative;
}
.head nav ul li a span {
    display: block;
    padding: 10px;
    transition: .4s;
}
.head nav ul li a span::after{ 
    content: attr(data-txt);
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    color: #3a3eca;
}
.head nav ul li a:hover span{
    translate: 0 -100%;/* 重新定義座標位址 */
}

.head nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 100px;
}
.head nav li{
    display: flex;
    
}
.head nav ul li:nth-child(3)::before{
    content: '';
    margin-left: 100px;
}
.head-nav{
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}
/* 漢堡 */

#btnHam {
    width: 40px;
    height: 40px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#btnHam span {
    width: 80%;
    height: 2px;
    background-color: #fff;
}
#btnHam {
display: none;
}
@media screen and (max-width: 767px) {
    #btnHam {
        display: flex;
        cursor: pointer;
    }
    .nav-log img{
        position: unset;
        width: 60px;
    }
    .head-nav nav{
        justify-content: start;
        padding: 0;
    }
    .head-nav nav ul{
        width: 100%;
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .head-nav nav ul li{
        background-color: #F6F6F6;
        border: 1px solid #333;
        justify-content: center;
        padding: 10px 0;
        
    }
    .head nav ul li a span::after{
        display: none;
    }
    .head nav ul li a:hover span{
        translate: 0;
        }
    .head nav ul li:nth-child(3)::before{
        content: '';
        margin-left: 0;
        }
    .head nav ul li a {
        width: 100%;
        font-size: 16px;
    }
    .head nav ul li:hover , .head nav ul li:active{
        background-color:#EF8B32 ;
    }
    #menu{
            display: none;
            position: absolute;
            top: 61px;
            right: 0px;
        }
    #menu.show {
            display: block;
            z-index: 10;
        }
    .text{
        font-size: 30px;
    }
    .menu-a{
        margin: 0;
    }
}
/* 絲帶 */
.ribbon {
    position: relative;
    position: fixed;
    top:60%;
    right: -100px;
    width: 100px;
    padding: 10px 0px 10px 10px;
    background: #8E5421;
    font-size: 12px;
    z-index: 20;
}
.content-rib , .content{
    display: flex;
    align-items: center;
}
.content-rib a:hover , .content a:hover{
    color: #0b0b0b;
}
.content a , .content-rib a{
    color: #fff;
    margin-right: 5px;
    display: contents;
}
.content:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #8E5421 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbon img {
    width: 12px;
    margin: 5px;
}
.ribbons {
    position: relative;
    position: fixed;
    top:69%;
    right: -100px;
    width: 100px;
    padding: 8px 0px 8px 10px; 
    background: #EF8B32;
    font-size: 12px;
    z-index: 20;
}
.content-rib:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    top: 0px ;
    left: -34px;
    border-width: 35px 0 0 35px;
}
.content-rib:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #EF8B32 transparent;
    bottom: 0px;
    left: -34px;
    border-width: 0px 0px 35px 35px;
}
.ribbons img {
    width: 12px;
    margin: 5px;
}
.news-img h1{
    font-size: 64px;
    color: #fff;
    position: absolute; 
    top: 20%;
    left: 43%; 
    letter-spacing: 8px;
    font-family: "Condiment", sans-serif;
}

/* banner */
.news-img{
    position: relative;
}
.news-img  img{
    width: 100%;
    height: 500px;
    
}
a{
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}
p {
    line-height: 15px;
    letter-spacing: 2px;/* 文字間距 */  
}
.news{
    padding: 0 120px;
    margin-bottom: 50px;
}
.txt {
    font-size: 64px;
    color: #fff;
    position: absolute; 
    top: 30%;
    left: 40%; 
}
.btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    
}
.btn button{
    padding: 10px 15px ;
    font-size: 18px;
    margin: 0 20px;
    border: none;
    background-color: #c0a89b;
    cursor: pointer;
}
.btn button:hover{
    background-color: #EF8B32;
}
#content1{
    display: block;
    text-align: left;
}
.event li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
}
h4 {
    font-size: 18px;
    font-weight: 600;
}
.event li a{
    line-height: 2.5em;
}
@media screen and (max-width: 767px) {
    .news-img img{
        height: 200px;
        
    }
    .news-img h1{
        font-size: 50px;
        color: #fff;
        position: absolute; 
        top: 20%;
        left: 20%; 
        letter-spacing: 8px;
        font-family: "Condiment", sans-serif;
    }
    .news{
        display: flex;
        padding: 0;
    }
    .btn{
        width: 15%;
        padding-left: 10px ;
    }
    .btn button {
        margin: 0;
        margin-bottom: 20px;
        max-width: 50px;
    }

}
/* 麵包屑 */
.breadcrumb{
    width: 100%;
    margin: auto;
}
.breadcrumb ul{
    display: flex;
    margin: 15px;
}
.breadcrumb li{
    width: auto;
    border: none;
    padding-block: 5px;
}
.breadcrumb li a{
    font-family: unset;
}
.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    margin: 0px 8px;
    font-weight: 600;
}
/* 頁尾 */
.footer-logo {
    width: 100%;
    background-color: #1D2126;
    display: flex;
    position: relative;
}
.top-btn{
    position: absolute;
    top: 5%;
    left: 50%;
    height: 20px;
}
.footer-logo i{
    padding-left: 32px;
    font-size: 20px;
    color: #fff;
}
.footer-logo a{
    font-size: 12px;
    color: #fff;
    top: 0;
    left: 50%;
}
.footer-logo a:active ,.footer-logo a:hover{
    opacity: 0.5;
}
.logo-map ,.logo-phone{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.footer-logo .address p{
    color: #fff;
    font-size: 12px; 
}
.address{
    margin-top: 80px;
    margin-bottom: 20px;
}
.address p{
    line-height: 2;
}
.address img{
    width: 15px;
    margin-right: 10px;
    object-fit: contain;
}
.logo-img img{
    width: 100px;
    margin: 90px 120px 0px 200px;
}
.account-icon{
    position: absolute;
    right: 200px;
    bottom: 20px;
}
.account-icon img{
    width: 15px;
    padding: 5px;
}
@media screen and (max-width: 767px) {
    .footer-logo{
        display: block;
    }
    .logo-img img {
        width: 50px;
        margin: 50px 10px 10px;
        object-fit: contain;
    }
    .address{
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 1.5px;
    }
    .address p:nth-child(4){
        padding-bottom: 20px;
    }
    .account-icon{
        right: 0px;
        bottom: 15px;
    }
    .logo-phone , .logo-map{
        padding-bottom: 5px;
    }
    .footer-logo .address p{
        letter-spacing: 1px;
        word-break: break-all;
    }
}
